body{
}
a:hover{
    text-decoration: none;
}
.dj-content{
    margin-bottom: 80px;
}
.dj-list{
    /*background-color: #dff0d8;*/
    margin-left: 0;
    margin-right: 0;
    /*border-radius: 4px;*/
    margin-bottom: 10px;
    border-bottom: 1px solid #dff0d8;
}
.dj-list:hover{
    background-color: #dff0d8;
    border-radius: 4px;
}
.dj-list:hover .dj-list-info{
    opacity: 1;
}
.dj-list-center{
    padding-top: 10px;
    padding-bottom: 14px;
}
.dj-list-right{
    color: #8c8c8c;
    font-size: 16px;
}
.dj-list-right span{
    display: block;
    margin-left: -15px;
    margin-top: 20px;
}
.dj-list-right .fa-fw{
    width: 2em;
}
.dj-list-avatar{
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #E5A0DE;
    margin-top: 10px;
    margin-left: 10px;
}
.dj-list-title {
    font-size: 15px;
    margin: 0 0 3px;
    line-height: 1.3;
    color: #111;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dj-list-info{
    color: #8c8c8c;
    font-size: 12px;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    display: inline-block;
    margin-top: 4px;
}
.dj-list-tags{
    margin-top: -8px;
}
.dj-list-tags .btn{
    border: 0;
}

/*post detail*/
.dj-jumbotron{
    text-align: center;
}
.dj-btn-dleft{
    width: 80%;
}
.dj-btn-dright{
    width: 20%;
}
.dj-fellow-dropdown{
    min-width: 210px;
}
.dj-fellow-dropdown .dj-fellow-list{
    margin-left: 20px;
}

.dj-fellow-dropdown .dj-fellow-desc{
    display: block;
    font-size: 12px;
    margin-left: 20px;
    text-indent: 24px;
}

.dj-list-d{
    /*background-color: #dff0d8;*/
    margin-left: 0;
    margin-right: 0;
    /*border-radius: 4px;*/
    margin-bottom: 10px;
    border-bottom: 1px solid #dff0d8;
}
.dj-list-d:hover{
    background-color: #dff0d8;
    border-radius: 4px;
}
.dj-list-davatar{
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 64px;
    line-height: 64px;
    text-align: center;
    font-size:28px;
    color: #fff;
    background-color: #E5A0DE;
    margin-top: 25px;
    margin-left: 20px;
}
.dj-list-dinfo{
    font-weight: normal;
    color: #555;
    font-size: 16px;
    margin-top: 4px;
}
.d-vote-list{
    font-size: 12px;
    color: #8c8c8c;
}
.d-list-center{
    padding: 20px;
    margin-left: -20px;
}


footer{
    width: 100%;
    background-color: #f8f8f8;
    height: 80px;
    line-height: 80px;
}