<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册-Django中国社区</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'usera/lib/bootstrap-3.3.5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'usera/lib/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'usera/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'usera/css/style.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Django社区</h1>
                    <div class="description">
                        <p>欢迎注册Django中国社区</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>注册Django社区</h3>
                            <p>
                                <a href="{% url 'usera:sign_in' %}">已有账户，去登录</a>
                                <a href="{% url 'usera:password_reset' %}"
                                   class="pull-right">忘记密码？</a>
                            </p>
                        </Div>
                        <div class="form-top-right">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="{% url 'usera:sign_up' %}" method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="id_username">用户名</label>
                                <input type="text" name="username" placeholder="用户名"
                                       class="form-control" id="id_username">
                                {{ form.username.errors }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="id_email">邮箱</label>
                                <input type="email" name="email" placeholder="邮箱"
                                       class="form-control" id="id_email">
                                {{ form.email.errors }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="id_password1">密码</label>
                                <input type="password" name="password1" placeholder="密码"
                                       class="form-control" id="id_password1">
                                {{ form.password.errors }}
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="id_password2">密码确认</label>
                                <input type="password" name="password2"
                                       placeholder="密码确认" class="form-control"
                                       id="id_password2">
                                {{ form.non_field_errors }}
                            </div>
                            <button type="submit" class="btn">注册</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="{% static 'usera/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'usera/lib/bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
<script src="{% static 'usera/js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'usera/js/scripts.js' %}"></script>
</body>

</html>