{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <div class="form-wrapper">
                    <h1 class="page-title">登录</h1>

                    <form action="{% url 'login' %}" method="post" class="login-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                {{ form.non_field_errors }}
                                {% for field in form %}
                                    {{ field }}
                                    {{ field.errors }}
                                {% endfor %}
                                <span class="login-text"><a href="{% url 'password_reset' %}">忘记密码？</a></span>
                                <span class="login-text">还没有账号？<a
                                        href="{% url 'registration_register' %}">立即注册</a></span>
                                <button class="login-btn">登录</button>
                                <div class="social-login">
                                    <hr>
                                    <span class="social-text">社交账号登录</span>
                                </div>
                                <div class="social-icon">
                                    <a href="{{ weibo }}"><i class="icon-sina-weibo"></i></a>
                                    {#                                    <a href=""><i class="icon-github"></i></a>#}
                                </div>

                            </div>
                        </div>
                        <!-- row -->
                    </form>
                </div>
            </main>
        </div>
    </div>
{% endblock %}