{% extends 'base.html' %}
{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    <article class="post post-1">
                        <header class="entry-header">
                            <h1 class="entry-title">{{ article.title }}</h1>
                            <div class="entry-meta">
                                <span class="post-category"><a
                                        href="{% url 'blog:category' article.category.pk %}">{{ article.category.name }}</a></span>

                                <span class="post-date">
                                    <a href="#">
                                        <time class="entry-date"
                                              datetime="{{ article.created_time }}">{{ article.created_time }}
                                        </time>
                                    </a>
                                </span>

                                <span class="post-author"><a href="#">{{ article.author.username }}</a></span>

                                <span class="comments-link"><a href="#">4 评论</a></span>
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            {{ article.body }}
                            <p>2016年5月23日，李克强总理考察湖北十堰市民服务中心，细询营改增实施效果，并再次重申“所有行业税负只减不增”。</p>
                            <p>
                                3月18日召开的国务院常务会议决定，为进一步减轻企业负担，促进经济结构转型升级，从今年5月1日起，将营改增试点范围扩大到建筑业、房地产业、金融业和生活服务业，并将所有企业新增不动产所含增值税纳入抵扣范围。4月30日，国务院印发《关于做好全面推开营改增试点工作的通知》和《全面推开营改增试点后调整中央与地方增值税收入划分过渡方案的通知》，要求各级政府平稳、有序开展工作，确保各行业税负只减不增。</p>
                            <p>
                                截至目前，“营改增”攻坚战已在全国稳步有序铺展开来。房地产、建筑和生活服务业企业均已完成营改增后的首次报税，新增季度性报税的金融业和小规模纳税人也从7月1日起迎来首次申报期。预计营改增今年将为企业降低成本5000亿以上。</p>
                            <p>为减轻企业负担，增强企业活力，促进增加就业和职工现金收入，4月13日召开的国务院常务会议决定阶段性降低企业社保缴费费率和住房公积金缴存比例。</p>
                            <ul>
                                <li>iphone 6</li>
                                <li>快乐可以重来</li>
                                <li>孙权打出</li>
                                <li>姜维统一</li>
                                <li>诸葛观星</li>
                            </ul>

                            <blockquote>
                                截至目前，“营改增”攻坚战已在全国稳步有序铺展开来。房地产、建筑和生活服务业企业均已完成营改增后的首次报税，新增季度性报税的金融业和小规模纳税人也从7月1日起迎来首次申报期。预计营改增今年将为企业降低成本5000亿以上
                                为减轻企业负担，增强企业活力，促进增加就业和职工现金收入，4月13日召开的国务院常务会议决定阶段性降低企业社保缴费费率和住房公积金缴存比例。
                            </blockquote>
                        </div>
                    </article>
                </main>
                {% block aside %}
                    {% include 'blog/sidebar.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
