<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>{% for article in recent_articles %}
            <li>
                <a href="{% url 'blog:detail' article.pk %}">{{ article.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }}-{{ category.num_articles }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget widget-archives">
        <h3 class="widget-title">归档</h3>
        <ul>
            <li>
                <a href="#">2014</a>
            </li>
            <li>
                <a href="#">2013</a>
            </li>
        </ul>
    </div>


</aside>