{% extends 'community_base.html' %}
{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-2">
                <a href="{% url 'community:create_post' %}">
                    <button type="button" class="btn btn-info btn-block">发表新帖子</button>
                </a>
            </div>
            <div class="col-md-9 col-md-offset-1">
                {% for post in post_list %}
                    <div>
                        <h4><a href="{% url 'community:detail' post.pk %}">{{ post.title }}</a></h4>
                        <time>{{ post.created }}</time>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
