{% extends 'base.html' %}
{% block content %}
    <div class="clear-fix">
        <div id="main">
            {% load paginate_tags %}
            {% paginate article_list 7 %}
            {% for article in article_list %}

                <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article">

                    <p>
                        <time class="post-time" itemprop="dateCreated">
                            {{ article.last_modified_time|date:"Y年n月d日" }}
                        </time>
                        <a href="{{blog.get_absolute_url}}">{{ article.title }}</a>


                </article>

            {% endfor %}
            {% include 'blog/pagination.html' %}
        </div>
    </div>
{% endblock %}